<!DOCTYPE html>
<html>
  <head>
    <title>Textboox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main">
      <div class= head-title-student>
        <div class="welcome-textboox">
          <%= link_to image_tag("Textboox students.png", class:"textboox-logo"), students_textbooks_path %>
        </div>
      </div>
    </div>
    <% if student_signed_in? %>
      学習お疲れ様です！ <%= link_to "#{current_student.name}", student_path(current_student.id) %> さん
      <%= link_to 'SignOut', destroy_student_session_path, method: :delete %>
    <% else %>
      <%= link_to 'SignUp', new_student_registration_path %>
      <%= link_to 'Sigin', new_student_session_path %>
    <% end %>
    <%= yield %>
     <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </body>
</html>