<p id="notice"><%= notice %></p>

<h1>Students Textbooks</h1>

<div class='item-contents'>
    <h2 class='title'>テキスト一覧</h2>
    <%= link_to '新規テキスト', "#", class: "subtitle" %>
    <ul class='item-lists'>
      <% @textbooks.each do |textbook| %>
      <li class='list'>
        <%= link_to [:students, textbook] do %>
        <div class='item-img-content'>
          <%= image_tag textbook.image, class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= textbook.name %>
          </h3>
          <div class='item-price'>
            <span><%= textbook.page %>ページ</span>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
<table>
  <thead>
    <tr>
      <th> Name </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @textbooks.each do |textbook| %>
      <tr>
        <td><%= textbook.name %>
        <td><%= link_to 'Show', [:students, textbook] %></td>
      </tr>
    <% end %>
  </tbody>
</table>