
<div class='textbook-contents'>
  <div class="first-view">
    <%= image_tag ('個別指導イワモト2.png'), class:"top-image" %>
  </div>
    <h2 class='title'>テキスト一覧</h2>
    <ul class='textbook-lists'>
      <% @textbooks.each do |textbook| %>
      <li class='list'>
        <%= link_to [:students, textbook] do %>
        <div class="textbook-teacher-name">
          <%= textbook.teacher.name %>先生担当
        </div>
        <div class='textbook-img-content'>
          <%= image_tag textbook.image, class: "textbook-img" %>
        </div>
        <div class='textbook-info'>
          <h3 class='textbook-name'>
            <%= textbook.name %>
          </h3>
          <div class='textbook-price'>
            <span><%= textbook.page %>ページ</span>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
</div>
