<p id="notice"><%= notice %></p>

<h1>Students Textbooks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students_textbooks.each do |students_textbook| %>
      <tr>
        <td><%= link_to 'Show', students_textbook %></td>
        <td><%= link_to 'Edit', edit_students_textbook_path(students_textbook) %></td>
        <td><%= link_to 'Destroy', students_textbook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Students Textbook', new_students_textbook_path %>
