

<div class="textbook-show">

  <div class="textbook-box">
    <h2 class="name">
      <%= @textbook.name %>
    </h2>
    <div class="textbook-img-content">
      <%= image_tag @textbook.image ,class:"textbook-box-img" %>
    </div>
    <div class="textbook-page-box">
      <span class="textbook-page">
        <%= @textbook.page %>ページ
      </span>
      <span class="textbook-postage">
        <%= @textbook.note %>
      </span>
      <% if student_signed_in? && @students_textbook == nil %>
        <%= link_to "このテキストの学習を始める", students_textbook_students_textbooks_path(@textbook), method: :post, class:"item-red-btn" %>
      <% else %>
        <%= link_to "このテキストの学習をやめる", students_textbook_students_textbook_path(@textbook, @students_textbook), method: :delete, data: {confirm: '今までの記録全て削除されます。よろしいですか？'}, class:"item-destroy" %>
      <% end %>
    </div>
  </div>

  <div class = "progresses-box">
    <% if student_signed_in? && @students_textbook != nil %>
      <div class= weight-bold-text>あなたの現在の進捗状況</div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow=<%= @progress_percent.to_s %> aria-valuemin="0" aria-valuemax="100" style=<%= "width:" + @progress_percent.to_s + "%;" %>> <%= @progress_percent %>%</div>
      </div>

      <section>
        <div class="progress-btn">
          進捗を記録する
        </div>
      </section>
      <%= form_with(model: [:students, @new_progress], url: students_textbook_students_textbook_progresses_path(@textbook, @students_textbook), method: :post, local: true, class: "progress-form") do |f| %>
      <%= render 'students/shared/error_messages', model: f.object %>
        <div class="progress-form-box hidden">
          <div class="new-progress">
            <div class="weight-bold-text">
              <div class="weight-bold-text">
                進んだページ数   
              </div> 
              <div class="page-form">    
                <%= f.text_field :progress_page, class:"progress-page-form", id:"progress-page", maxlength:"5" %>
                <span class="page-kana">ページ</span>
              </div>
            </div>
            <div class="items-explain">
              <div class="weight-bold-text">
                気になったこと、わからなかったこと
              </div>
              <%= f.text_area :comment, class:"progress-text", id:"progress-comment", rows:"7" ,maxlength:"1000" %>
            </div>
          </div>
          <div class="progress-btn-contents">
            <div>
              <%= f.submit "進捗の記録を保存する" ,class:"progress-submit-btn" %>
            </div>
          </div>
        </div>
      <% end %>
      <ul class = 'progresses-list' >
        <% if @progresses != nil %>
          <% @progresses.each do |progress| %>
           <% @read_progress = Read.where(progress_id: progress.id) %>
            <li class= 'progress-list'>
              <span><%= l progress.created_at %>
              <% if @read_progress.exists? %>
                <i class="fas fa-check-circle fa-lg"></i>
              <% end %>
              </span><br>
              P<%= progress.progress_page %> / P<%= @students_textbook.textbook.page %><br>
              <%= progress.comment%>
            </li>
          <% end %>
        <% end %>
    <% end %>
  </div>
  </div>
</div>
