

<div class="textbook-show">

  <div class="textbook-box">
    <h2 class="name">
      <%= @textbook.name %>
    </h2>
    <div class="textbook-img-content">
      <%= image_tag @textbook.image ,class:"textbook-box-img" %>
    </div>
    <div class="textbook-page-box">
      <span class="textbook-page">
        <%= @textbook.page %>ページ
      </span>
      <span class="textbook-postage">
        <%= @textbook.note %>
      </span>
      <% if student_signed_in? && @students_textbook == nil %>
        <%= link_to "このテキストの学習を始める", students_textbook_students_textbooks_path(@textbook), method: :post, class:"item-red-btn" %>
      <% else %>
        <%= link_to "このテキストの学習をやめる", students_textbook_students_textbook_path(@textbook, @students_textbook), method: :delete, class:"item-destroy" %>
      <% end %>
    </div>
  </div>

  <div class = "progresses-box">
    <% if student_signed_in? && @students_textbook != nil %>
      <section>
        <div class="progress-btn">
          進捗を記録する
        </div>
      </section>
      <%= form_with(model: [:students, @progress], url: students_textbook_students_textbook_progresses_path(@textbook, @students_textbook), method: :post, local: true, class: "progress-form") do |f| %>
      <%= render 'students/shared/error_messages', model: f.object %>
        <div class="progress-form-box hidden">
          <%# <h2 class="progress-form-title">参考書の情報を入力</h2> %>
          <div class="new-progress">
            <div class="weight-bold-text">
              <div>
                進んだページ数   
              </div> 
              <div class="page-form">    
                <%= f.text_field :progress_page, class:"progress-page-form", id:"progress-page", maxlength:"5" %>
                <span class="page-kana">ページ</span>
              </div>
            </div>
            <div class="items-explain">
              <div class="weight-bold-text">
                気になったこと、わからなかったこと
              </div>
              <%= f.text_area :comment, class:"progress-text", id:"progress-comment", rows:"7" ,maxlength:"1000" %>
            </div>
          </div>
          <div class="progress-btn-contents">
            <div>
              <%= f.submit "進捗の記録を保存する" ,class:"progress-submit-btn" %>
            </div>
          </div>
        </div>
      <% end %>
      <%# <%= link_to "進捗を記録する", new_students_textbook_students_textbook_progress_path(@textbook, @students_textbook), class:"progress-red-btn" %>
      <ul class = 'progresses-list' >
        <% if @progresses != nil %>
          <% @progresses.each do |progress| %>
            <li class= 'progress-list'>
              <%= l progress.created_at %><br>
              P<%= progress.progress_page %> / P<%= @students_textbook.textbook.page %><br>
              <%= progress.comment%>
            </li>
          <% end %>
        <% end %>
    <% end %>
  </div>






    <%# <%= link_to 'Edit', edit_students_textbook_path(@students_textbook) | %>
    <%# <%= link_to 'Back', students_textbooks_path %> 
  </div>
</div>
