<p id="notice"><%= notice %></p>

<div class="textbook-show">
  <div class="textbook-box">
    <h2 class="name">
      <%= @textbook.name %>
    </h2>
    <div class="textbook-img-content">
      <%= image_tag @textbook.image ,class:"textbook-box-img" %>
    </div>
    <div class="textbook-page-box">
      <span class="textbook-page">
        <%= @textbook.page %>ページ
      </span>
      <span class="textbook-postage">
        <%= @textbook.note %>
      </span>
    </div>

<% if student_signed_in? && @students_textbook != nil %>
  <%= link_to "このテキストの学習をやめる", students_textbook_students_textbook_path(@textbook), method: :delete %>
  <%= link_to "進捗を記録する", new_students_textbook_students_textbook_progress_path(@textbook, @students_textbook) %>

  <ul class = 'progresses-list' >
    <% @progresses.each do |progress| %>
    <li class= 'progress-list'>
      <%= progress.progress_page %>ページ
    </li>
    <% end %>
<% else %>
  <%= link_to "このテキストの学習を始める", students_textbook_students_textbooks_path(@textbook), method: :post %>
<% end %>





<%# <%= link_to 'Edit', edit_students_textbook_path(@students_textbook) | %>
<%= link_to 'Back', students_textbooks_path %>
