<div class="contents row">
  <div class="container">
    <h2>Log in</h2>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= form_with model: @student, url: student_session_path, local: true do |f| %>
    <%= render 'students/shared/error_messages', model: f.object %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.label :remember_me %>
          <%= f.check_box :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class:"btn-square" %>
      </div>
    <% end %>
    <div>
      <%= link_to '新規登録はこちら', new_student_registration_path %>
    </div>
    <div>
      <%= link_to 'もどる', root_path %>
    </div>
  </div>
</div>