
  <div class='textbook-contents'>
    <div class="first-view">
      <%= image_tag '個別指導イワモト3.png', class:"top-image" %>
    </div>
    <h2 class='title'>テキスト一覧</h2>
    <ul class='textbook-lists'>
      <% @teachers_textbooks.each do |teachers_textbook| %>
      <li class='list'>
        <%= link_to [:teachers, teachers_textbook] do %>
        <div class="textbook-teacher-name">
          <%= teachers_textbook.teacher.name %>先生担当
        </div>
        <div class='textbook-img-content'>
          <%= image_tag teachers_textbook.image, class: "textbook-img" %>
        </div>
        <div class='textbook-info'>
          <h3 class='textbook-name'>
            <%= teachers_textbook.name %>
          </h3>
          <div class='textbook-pages'>
            <span><%= teachers_textbook.page %>ページ</span>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
<table>


<%= link_to new_teachers_textbook_path, class:"new-textbook-btn" do %>
  <i class="fas fa-book-open fa-6x">
  </i>
  <h5>New Textbook</h5>
<% end %>
