


  <div class='item-contents'>
    <h2 class='title'>公開中テキスト一覧</h2>
    <ul class='item-lists'>
      <% @teachers_textbooks.each do |teachers_textbook| %>
      <li class='list'>
        <%= link_to [:teachers, teachers_textbook] do %>
        <div class='item-img-content'>
          <%= image_tag teachers_textbook.image, class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= teachers_textbook.name %>
          </h3>
          <div class='item-price'>
            <span><%= teachers_textbook.page %>ページ</span>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
<table>



<%= link_to 'New Textbook', new_teachers_textbook_path %>
