
<div class="textbook-show">

  <div class="textbook-box">
    <h2 class="name">
      <%= @teachers_textbook.name %>
    </h2>
    <div class="textbook-img-content">
      <%= image_tag @teachers_textbook.image ,class:"textbook-box-img" %>
    </div>
    <div class="textbook-page-box">
      <span class="textbook-page">
        <%= @teachers_textbook.page %>ページ
      </span>
      <span class="textbook-postage">
        <%= @teachers_textbook.note %>
      </span>
    </div>

    <% if teacher_signed_in? %>
      <% if current_teacher.id == @teachers_textbook.teacher_id %>
        <%= link_to "テキストの編集", edit_teachers_textbook_path(@teachers_textbook), class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", [:teachers, @teachers_textbook], method: :delete,  data: { confirm: '生徒たちの記録も全て削除されます。よろしいですか？' }, class:"item-destroy" %>
      <% end %>
    <% end %>
  </div>



  <div class="progresses-box">
    <h2 class ="studying-students-list">学習中生徒一覧</h2>
      <div>
        <%= form_with(url: search_teachers_textbook_path(@teachers_textbook.id), local: true, method: :get, class: "student-search-form") do |form| %>
          <%= form.text_field :keyword, placeholder: "生徒を検索する", class: "search-input" %>
          <%= form.submit "検索", class: "search-btn" %>
        <% end %>
      </div>
      <div id='studying-students-name'>
        <% n = 0 %>
        <% @students.length.times do %>
          <div class="student-name-container">
            <div class="alert-progress">
              <% @progresses = Progress.where(students_textbook_id: StudentsTextbook.find_by(textbook_id: @teachers_textbook.id, student_id: @students[n].id).id).order('created_at DESC') %>
              <% if @progresses != nil%>
                <% progressid_array = [] %>
                <% read_array = [] %>
                <% @progresses.each do |progress| %>
                  <% progressid_array << progress.id%>
                  <% if Read.where(teacher_id: current_teacher.id).find_by(progress_id: progress.id) != nil %>
                    <% read_array << Read.where(teacher_id: current_teacher.id).find_by(progress_id: progress.id).progress.id %>
                  <% end %>
                <% end %>
                <% unless progressid_array.all?{|v| read_array.include?(v)} %>
                  <i class="fas fa-circle"></i>
                <% end %>
              <% end %>
            </div>
            <div class="student_name" >
              <%= @students[n].name %>
            </div>
          </div>
            <ul class = "progresses-list hidden" >
              <% @progresses = Progress.where(students_textbook_id: StudentsTextbook.find_by(textbook_id: @teachers_textbook.id, student_id: @students[n].id).id).order('created_at DESC') %>
              <% @progresses.each do |progress| %>
                <% @read = Read.where(teacher_id: current_teacher.id).find_by(progress_id: progress.id) %>
                <li class= 'progress-list' >
                  <span><%= l progress.created_at %>
                    <span id ='check-in-btn-<%= progress.id %>'>
                      <%= render 'teachers/reads/read', progress: progress %>
                    </span>
                  </span><br>
                  P<%= progress.progress_page %> / P<%= @teachers_textbook.page %><br>
                  <%= progress.comment%>
                </li>
              <% end %>
            </ul>
          <% n += 1 %>
        <% end %>
      </div>

  </div>
</div>


