<p id="notice"><%= notice %></p>

<div class="textbook-show">
  <div class="textbook-box">
    <h2 class="name">
      <%= @teachers_textbook.name %>
    </h2>
    <div class="textbook-img-content">
      <%= image_tag @teachers_textbook.image ,class:"textbook-box-img" %>
    </div>
    <div class="textbook-page-box">
      <span class="textbook-page">
        <%= @teachers_textbook.page %>
      </span>
      <span class="textbook-postage">
        <%= @teachers_textbook.note %>
      </span>
    </div>

<% if teacher_signed_in? %>
  <% if current_teacher.id == @teachers_textbook.teacher_id %>
    <%= link_to "テキストの編集", edit_teachers_textbook_path(@teachers_textbook), class: "item-red-btn" %>
    <p class="or-text">or</p>
    <%= link_to "削除", [:teachers, @teachers_textbook], method: :delete,  data: { confirm: 'Are you sure?' }, class:"item-destroy" %>
  <% else %>
    <%= link_to "購入画面に進む", item_orders_path(@item.id) ,class:"item-red-btn"%>
  <% end %>
<% end %>


<%= link_to 'Back', teachers_textbooks_path %>
