
<div class="textbook-show">
  <div class="textbook-box">
    <h2 class="name">
      <%= @teachers_textbook.name %>
    </h2>
    <div class="textbook-img-content">
      <%= image_tag @teachers_textbook.image ,class:"textbook-box-img" %>
    </div>
    <div class="textbook-page-box">
      <span class="textbook-page">
        <%= @teachers_textbook.page %>ページ
      </span>
      <span class="textbook-postage">
        <%= @teachers_textbook.note %>
      </span>
    </div>

    <% if teacher_signed_in? %>
      <% if current_teacher.id == @teachers_textbook.teacher_id %>
        <%= link_to "テキストの編集", edit_teachers_textbook_path(@teachers_textbook), class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", [:teachers, @teachers_textbook], method: :delete,  data: { confirm: '生徒たちの記録も全て削除されます。よろしいですか？' }, class:"item-destroy" %>
      <% end %>
    <% end %>
  </div>

  <div class="progresses-box">
    <h2 class ="studying-students-list">学習中生徒一覧</h2>
      <div>
        <%= form_with(url: search_teachers_textbook_path(@teachers_textbook.id), local: true, method: :get, class: "student-search-form") do |form| %>
          <%= form.text_field :keyword, placeholder: "生徒を検索する", class: "search-input" %>
          <%= form.submit "検索", class: "search-btn" %>
        <% end %>
      </div>
    <%= render 'teachers/shared/student_progress'%>  


  </div>
</div>

