
<div class="textbook-show">
  <div class="textbook-box">
    <h2 class="name">
      <%= @teachers_textbook.name %>
    </h2>
    <div class="textbook-img-content">
      <%= image_tag @teachers_textbook.image ,class:"textbook-box-img" %>
    </div>
    <div class="textbook-page-box">
      <span class="textbook-page">
        <%= @teachers_textbook.page %>ページ
      </span>
      <span class="textbook-postage">
        <%= @teachers_textbook.note %>
      </span>
    </div>

<% if teacher_signed_in? %>
  <% if current_teacher.id == @teachers_textbook.teacher_id %>
    <%= link_to "テキストの編集", edit_teachers_textbook_path(@teachers_textbook), class: "item-red-btn" %>
    <p class="or-text">or</p>
    <%= link_to "削除", [:teachers, @teachers_textbook], method: :delete,  data: { confirm: 'Are you sure?' }, class:"item-destroy" %>
  <% end %>
<% end %>

<div class = "progresses-box">
学習中生徒一覧
  <% @studying_students.each do |studying_student| %>    
    <p class="student_name"><%= studying_student.student.name %></p>
    <ul class = 'progresses-list' >      
      <% @progresses = Progress.where(students_textbook_id: studying_student.id).order('created_at DESC') %>
        <% @progresses.each do |progress| %>
          <li class= 'progress-list'>
            <%= l progress.created_at %><br>
            P<%= progress.progress_page %> / P<%= @teachers_textbook.page %><br>
            <%= progress.comment%>
          </li>
        <% end %>  
    <% end %>
</div>

<%= link_to 'Back', teachers_textbooks_path %>
