<div class="contents row">
  <div class = 'textbook-contents'>
    <h2 class = 'registered-text'><%= @name %>さんの学習中テキスト</h2>
    <ul class= 'textbook-lists'>
    <% @my_textbooks.each do |my_textbook| %>
      <li class='box22'>
        <%= link_to [:students, my_textbook.textbook] do %>
          <div class='textbook-img-content'>
            <%= image_tag my_textbook.textbook.image, class: "textbook-img" %>
          </div>
          <div class='textbook-info'>
            <h3 class='textbook-name'>
              <%= my_textbook.textbook.name %>
            </h3>
            <div class='textbook-pages'>
              <span><%= my_textbook.textbook.page %>ページ</span>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </div>
</div>