  
<div class="main">
  <div class= head-title>
    <div class="welcome-textboox">
      <%= image_tag "Textboox2.png", class:"textboox-logo" %>
    </div>
  </div>

  <div class= "home-select-contents">
    <div class = "student-account-box">
      
      <%= link_to students_students_guest_sign_in_path, method: :post, class:"link-box" do %>
        <div class = "guest-account">
          <p class="guest-click-student">生徒用ゲストログイン </p>
        </div>
      <% end%>
      
      
      <%= link_to students_textbooks_path, class:"link-box" do %>
        <div class= "student-account" >
          <p class= "click-box">生徒はこちら</p>     
        </div>
      <% end %>     
    </div>

    <div class= "teacher-account-box">
      <%= link_to teachers_teachers_guest_sign_in_path, method: :post, class: "link-box" do %>
        <div class="guest-account">
          <p class="guest-click-teacher">先生用ゲストログイン</p>
        </div>
      <% end %>
       
      <%= link_to teachers_textbooks_path, class:"link-box" do %>
        <div class= "teacher-account" >
          <p class= "click-box">先生はこちら</P>
        </div>
      <% end %> 
    </div>
  </div>
</div>