<!DOCTYPE html>
<html>
  <head>
    <title>Textboox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main">
      <div class= head-title-teacher>
        <div class="welcome-textboox">
          <%= link_to image_tag("Textboox teachers.png", class:"textboox-logo"), teachers_textbooks_path %>
        </div>
      </div>
    </div>
    <% if teacher_signed_in? %>
      お疲れ様です！<%= link_to "#{current_teacher.name}", teacher_path(current_teacher.id) %> 先生
      <%= link_to 'SignOut', destroy_teacher_session_path, method: :delete %>
    <% else %>
      <%= link_to 'SignUp', new_teacher_registration_path %>
      <%= link_to 'Sigin', new_teacher_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>