 <div class="items-sell-main">
    <h2 class="items-sell-title">参考書の情報を入力</h2>
    <%= form_with(model: [:students, @textbook, @found_recode, @progress], local: true) do |f| %>
    
    <%# /出品画像 %>
    <%# 商品名と商品説明 %>

    <div class="new-items">
      <div class="weight-bold-text">
        進んだページ
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :progress_page, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          気になったこと、わからなかったこと
        </div>
        <%= f.text_area :comment, class:"items-text", id:"item-info", placeholder:"商品の説明（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>

    <div class="sell-price">
      <div class="weight-bold-text question-text">
        <span>全ページ数</span>
      </div>
      <div>
        <div class="price-content">
          <div class="price-text">
            <span>ページ</span>
            <span class="indispensable">必須</span>
          </div>
          <span class="sell-yen">P</span>
          <%= f.text_field :page, class:"price-input", id:"item-price", placeholder:"例）300" %>
        </div>
      </div>
    </div>

  
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "進捗の記録を保存する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>
