 <div class="items-sell-main">
    <h2 class="items-sell-title">参考書の情報を入力</h2>
    <%= form_with(model: [:students, @progress], url: students_textbook_students_textbook_progresses_path(@textbook), method: :post, local: true) do |f| %>
    
    <%# /出品画像 %>
    <%# 商品名と商品説明 %>

    <div class="new-items">
      <div class="weight-bold-text">
        進んだページ
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :progress_page, class:"items-text", id:"item-name", maxlength:"40" %>ページ
      <div class="items-explain">
        <div class="weight-bold-text">
          気になったこと、わからなかったこと
        </div>
        <%= f.text_area :comment, class:"items-text", id:"item-info", rows:"7" ,maxlength:"1000" %>
      </div>
    </div>

  
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "進捗の記録を保存する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>
