<div id='studying-students-name'>
  <% n = 0 %>
  <% @studying_students.length.times do %>
    <div class="student_namecontainer">
      <i class="fas fa-circle"></i>
      <div class="student_name" >
        <%= @studying_students[n].student.name %> 
      </div>
    </div>      
      <ul class = "progresses-list hidden" >
        <% @progresses = Progress.where(students_textbook_id: @students_textbook[n].id).order('created_at DESC') %>
        <% @progresses.each do |progress| %>
          <% @read = Read.where(teacher_id: current_teacher.id).find_by(progress_id: progress.id) %>
          <li class= 'progress-list' >
            <span><%= l progress.created_at %>
              <span id ='check-in-btn-<%= progress.id %>'>
                <%= render 'teachers/reads/read', progress: progress %>
              </span>
            </span><br>
            P<%= progress.progress_page %> / P<%= @teachers_textbook.page %><br>
            <%= progress.comment%>
          </li>
        <% end %> 
      </ul> 
    <% n += 1 %>
  <% end %>
</div>